In [1]:
lst = [1,2,3,4,5]
list(enumerate(lst))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [2]:
dict(list(enumerate(lst)))

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}

In [12]:
lst2 = [1,5,3,10,50]
x = zip(lst,lst2)
for i in x:
    print(i)

(1, 1)
(2, 5)
(3, 3)
(4, 10)
(5, 50)

In [15]:
print(max(lst2),min(lst2),sum(lst2))

50 1 69

In [22]:
def welcome_message(x):
    print(f'Welcome {x}')
welcome_message('John')

def welcome_message(x,y):
    print(f'Welcome Mr {x}, Welcome in {y}')
welcome_message('John','India')

Welcome John
Welcome Mr John, Welcome in India

NameError: name 'welcome_message' is not defined

In [19]:
bin(2)

'0b10'

In [23]:
lst2

[1, 5, 3, 10, 50]

In [36]:
def average(lst):
    if type(lst) in [list, tuple, set]:
        return sum(lst)/len(lst)
    else:
        print('Please pass list or tuple or set')
lst_1 = [1,4,2,5,6,10,5]
average(lst)
round(average(lst),2)

3.0

In [37]:
def average(lst):
    if type(lst) in [list,tuple,set]:
        return sum(lst)/len(lst)
    else:
        print('Please pass list or tuple or set')
lst_1 = [1,4,2,5,7,10,5]
average(lst)
round(average(lst),2)

3.0

In [43]:
def my_args(*arg):
    return max(arg)
my_args(1,2,3,4,5)

5

In [50]:
def key_word_func(**kwargs):
    print(type(kwargs))
    if 'name' in kwargs:
        print('Ratan is my friend')
    else:
        print('No one is my friend')
key_word_func(name = 'Ratan', Age = 23)

<class 'dict'>
Ratan is my friend

In [59]:
#map and filter
countries_lst = ['India', 'USA', 'Germany','Italy','France','Canada']
for x in countries_lst:
    print(x,  len(x))


print('\n')
x = map(len,countries_lst)
list(map(len,countries_lst))
for i in x:
    print(i)

def return_len(x):
    return f'{x} : {len(x)}'
list(map(return_len,countries_lst))

India 5
USA 3
Germany 7
Italy 5
France 6
Canada 6


5
3
7
5
6
6

['India : 5',
 'USA : 3',
 'Germany : 7',
 'Italy : 5',
 'France : 6',
 'Canada : 6']

In [70]:
#filter 
countries_lst1 = ['India', 'USA', 'Germany','Italy','France','Canada',100]
def is_str(x):
    return type(x) == str
is_str('None')

list(filter(is_str,countries_lst1))
#list(map(is_str,countries_lst1))

['India', 'USA', 'Germany', 'Italy', 'France', 'Canada']

In [72]:
#Lambda function : anonymous function that can take any number of argument and can return output as expression
#simplicity
countries_lst2 = ['India', 'USA', 'Germany','Italy','France','Canada',100,1]
def is_str(x):
    return type(x) == str
lambda x : type(x) == str
list(filter(lambda x : type(x) == str, countries_lst2)) # in a single line

['India', 'USA', 'Germany', 'Italy', 'France', 'Canada']

In [80]:
lst_2  = [1,2,3,4,5]
def func_mul(x):
    return x*2
#list(map(func_mul,lst_2))

list(map(lambda x:x*2,lst_2)) #lambda function

[2, 4, 6, 8, 10]

In [85]:
# try except else finally
'''
try:
    <block of code to execute> this will attempt to run 
except:
    <block of code to execute> if there is an exception, this wil execute
else:
    <block of code to execute>this will run if the try clause does not raise an exception 
finally:
    <block of code to execute>  this will always run 

'''

print(10/1)

10.0

In [96]:
try:
    print(10/'1')
except ZeroDivisionError:
    print('divide by zero is not allowed')
except TypeError:
    print('divide by string is not allowed')
else:
    print('eveything went well')
finally:
    print('This will always print')

divide by string is not allowed
This will always print

This will always print

TypeError: unsupported operand type(s) for /: 'int' and 'str'